body{
	background-color:#F0FFFF;
	color:#333333;
	font:24px arial sans-serif;
	width:1130px;
	text-align:center;
	border-width:1px;
	}

.nameTheGame{
    background-color:#87CEEB;
	font:30px arial sans-serif;
	border-radius: 25px;
	position:absolute;
    left:50px;
    top:5px;
	text-align:center;
	Color:#008000;
	width:1130px;
	height:80px;
	float:left;
	float:left;
	}

#pageContent{
    display: none;
    background-color:#F0FFF0;
    border-radius: 25px;
    position:absolute;
    left:50px;
    top:90px;
    margin:0 auto;
    color:#333333;
    float:center;
    font:24px arial sans-serif;
    width:1100px;
    height: 1000px;
    text-align:center;
    border-width:1px;
}

/*начало формы итогов игры*/

#game-list{
    display: none;
    width:1000px;
    position:absolute;
    left:150px;
    top:90px;
}

.game-list_float{
    float: left;
}

#table_header{
    width:980px;
    height:50px;
    float: left;
    clear:left;
}

.text_header{
    border: 1px solid #696969;
    padding: 2px;
    font-size: 20px;
    text-align:center;
    float: left;
    width: 150px;
    height: 45px;
}

.game-list-data{
    overflow-y: auto;
    width:980px;
    height:650px;
    clear: left;
    float: left;
}

.game-list-one{
    clear: left;
}

/*закончилась форма итогов игр*/

/*#gameProgress{
	background-color:#87CEEB;
	border-radius: 25px;
	text-align: left;
    font-size: 25px;
	margin:10px;
	width:410px;
	height:250px;
	float:left;
	clear:right;
}*/

/*input[name="progress"]{
    background-color:#87CEEB;
    text-align: center;
    font-size: 25px;
    width:50px;
    height:35px;
    margin:7px;
}*/

/*div[class="partProgress"]{
    width:350px;
    margin:7px;
    text-align: right;
}*/

/*div[class="partResults"]{
    width:260px;
    text-align: right;
}*/

/*#timer{
	background-color:#87CEEB;
	border-radius: 25px;
	margin:10px;
	float:right;
	width:400px;
	height:200px;
	clear:right;
}*/

/*#inputTimerId{
    height:50px;
    text-align: center;
    font-size: 25px;
}*/

#taskTextId{
    background-color:#87CEEB;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    position:absolute;
    top:270px;
    margin:10px;
    float:left;
    width:400px;
    height:70px;
}

/*#gameAdjustments{
    margin:10px;
    text-align: left;
    float:left;
    clear:right;
}*/

/*#resetGame, #clearId{
    background-color:#FFA07A;
    border-radius: 25px;
    margin:10px;
    font-size: 30px;
    text-align: center;
    width:170px;
    height:80px;
}*/

/*#resetGame, #yesResetId, */#yesClearLogin{
    background-color:#FFA07A;
}

/*#noResetId, */#noClearLogin{
    background-color:#98FB98;
}

/*#clearId{
    background-color:#F0E68C;
}*/

/*#dialingButtons{
    background-color:#87CEEB;
    border-radius: 25px;
    position:absolute;
    top:390px;
    left:80px;
	margin:10px;
	width:220px;
	height:380px;
}*/

/*#dialingButtons > button{
    margin:10px;
    width:50px;
    height:50px;
    float:left;
    font-size: 20px;
}*/

#resultId, #sendId{
    background-color:#F5F5F5;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
    position:absolute;
    left: 430px;
    margin:10px;
    float:left;
    width:400px;
    height:70px;
}

#resultId{
    top:270px;
}

#sendId{
    top:390px;
}

#choiceLogin{
    display: flex;
    height: 300px;
}

#choiceLogin, #registrationWindow, #inputWindow, /*#gameSettings, #gameResults, #areYouSure, */#areYouSureClearLogin{
    background-color: #B0E0E6;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:100px;
    left:500px;
    width: 300px;
}

#choiceLoginForm > button, #registrationForm > button, #inputForm > button, /*#gameSettingsForm > button,*/
/*#gameResultsForm > button, #areYouSureForm > button, */#areYouSureClearLoginForm > button, .game-list_float >
button{
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    justify-content: center;
    margin: 10px;
    width: 180px;
    height: 60px;
    float:center;
    clear:left;
}

#registrationForm > label, #inputForm > label/*, #gameSettingsForm > label,
#gameResultsForm > label*/{
    float:center;
    clear:left;
    margin: 10px;
}

#registrationForm > input, #inputForm > input/*, #gameSettingsForm > input,
 #gameResultsForm > input*/{
    float:center;
    clear:both;
    margin: 10px;
    width: 220px;
    height: 50px;
    font-size: 20px;
}

/*#gameSettingsForm > p > input{
    width: 30px;
    height: 30px;
    font-size: 20px;
}*/

#registrationWindow, #inputWindow, /*#gameResults, #areYouSure, */#areYouSureClearLogin{
    display: none;
    height: 620px;
}

/*#gameSettings{
    display: none;
    height: 750px;
}*/

/*checkbox{
    width: 50px;
    height: 50px;
}*/

#gameResultsForSafe{
    display: none;
}
