<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sorting Comments</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="nameTheGame">
        <h3>Сортировка комментариев</h3>
    </div>
    <div id="choiceLogin">
        <form id="choiceLoginForm">
            <button id="enterId">Вход</button>
            <button id="registrationId">Регистрация</button>
        </form>
    </div>

    <!--стартовая-->
    <div id="registrationWindow">
        <form id="registrationForm">
            <h3>Регистрация</h3>
            <label>Имя участника</label>
            <input type="text" name="name" id="registrationNameId" value="">
            <label>Пароль участника</label>
            <input type="text" name="password" id="registrationPasswordId" value="">
            <label>Повторите ввод пароля</label>
            <input type="text" name="passwordVerification" id="registrationVerificationId" value="">
            <hr>
            <button id="saveUser">Далее</button>
            <button class="goHome">Назад</button>
        </form>
    </div>

    <div id="inputWindow">
        <form id="inputForm">
            <h3>Авторизуйтесь</h3>
            <label>Имя участника</label>
            <input type="text" name="name" id="nameId" value="">
            <label>Пароль участника</label>
            <input type="text" name="password" id="passwordId" value="">
            <hr>
            <button id="searchUser">Далее</button>
            <button class="goHome">Назад</button>
        </form>
    </div>


    <!--окно игры-->
    <div id="pageContent">

        <input type="text" name="taskText" id="taskTextId" value="">
        <input type="text" name="result"  id="resultId" value="">
        <button id="sendId">Отправить</button>
    </div>

    <div id="areYouSureAddComment">
        <form id="areYouSureAddCommentForm">
            <p>Сейчас выведется таблица отсортированных комментариев</p>
            <button id="yesAddComment">Ок</button>
            <!--<button id="noAddComment">Нет</button>-->
        </form>
    </div>


    <div id="areYouSureClearLogin">
        <form id="areYouSureClearLoginForm">
            <p>Вы уверены, что хотите выйти из личной страницы?</p>
            <button id="yesClearLogin">Да</button>
            <button id="noClearLogin">Нет</button>
        </form>
    </div>

    // для сериализации в Game
    <div id="gameResultsForSafe">
        <form id="gameResultsForSafeForm">
            <p>Результаты игры.</p>
            <!--<input type="text" name="id"  id="idUserId" value="" readonly>-->
            <input type="text" name="idName"  id="idUserId" value="" readonly>
            <input type="text" name="topicText"  id="chatTextId" value="" readonly>
            <input type="text" name="commentTime"  id="commentTimeId" value="" readonly>
            <input type="text" name="commentText"  id="commentId" value="" readonly>
            <input type="text" name="rating"  id="ratingId" value="" readonly>
        </form>
    </div>



    <div id="game-list">
        <div class="game-list_float">
            <div id="table_header">
                <div class="text_header">
                    Номер комментария
                </div>
                <div class="text_header">
                    Имя участника
                </div>
                <div class="text_header">
                    Текст
                </div>
                <div class="text_header">
                    Время составления комметария
                </div>
                <div class="text_header">
                    Комметарий
                </div>

                <div class="text_header">
                    Рэйтинг
                </div>
            </div>

            <!--th:each="user : ${users}"-->

            <div id="game-list-data">
                <div class="game-list-one"  th:each="commentWN : ${commentsWNames}" >
                    <div class="text_body"
                         th:text=${commentWN.idC}>
                    </div>
                    <!--th:text=${user.name}>-->
                    <div class="text_body"

                        th:text=${commentWN.nameP}>
                    </div>
                    <div class="text_body"
                        th:text=${commentWN.topicTextC}>
                    </div>
                    <div class="text_body"
                        th:text=${commentWN.commentTimeC}>
                    </div>
                    <div class="text_body"
                        th:text=${commentWN.commentTextC}>
                    </div>
                    <div class="text_body"
                        th:text=${commentWN.ratingC}>
                    </div>
                </div>
            </div>
            <button class="goHome">На стартовую</button>
            <button class="newGame">Добавить комментарий</button>
        </div>
    </div>

</body>
</html>